@media (max-width: 600px) {
  .preview-pic {
    display: none !important;
  }
}


body {
  background: #FFE2C5; /* or any color/image you want */
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*added mine*/

/* set the front of whole website */
* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

/* for most button (can fix the width and height with other class) */
.button {
    border: none;
    width: 200px;
    padding: 15px 0px;
    font-size: 24px;
    border-radius: 10px;
    color: white;
}

.shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* for colored button */

.green{
    background-color: #517824;
}
.green:hover {background-color: #3f5e1b}

.brown{
    background-color: #603A2B;
}
.brown:hover{
    background-color: #4a2b1f
}


/* header */

.header{

  background-color: #BB3D25;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;

}

.profile-s{
  background-color: white;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}

.Margin1vh{
  margin:1vh;
}

/* preference page */

.full-app{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.p-contain{
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
}

.Preferences{
  font-size: 36px;
  width: 40%;
  height: 50px;
  border-color: #603A2B;
  color: #603A2B;
  border-width: 2px;
  border-style: solid;
  padding: 10px 50px;
  text-align: center;
  border-radius: 40px;
}

.Preferences:hover{
  background-color: #603A2B;
  color: white;
}



.thin-button{
  color:#BB3D25;
  text-decoration: underline;
}

/* Add for home page */
.hero_section{
  display: flex;
  background-image: url("../../public/unfocused-restaurant-with-tables-ready.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  min-height: 500px;
  max-height: 1000px;
  width: 100vw;
  background-blend-mode: multiply;
  flex-direction:row-reverse;

  position: relative;
  isolation:isolate;
  flex-wrap: wrap;
}

.hero_section::after{
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background: white;
  opacity: 0.4;
}

.white_txt{
  color: white !important;
}
.hero_text{
  display: "flex";
  flex-direction: "column";
  width: "40vw"; 
  height: "300px";
  align-items: "left";
  margin-top: "100px";
}

#title{
  font-size:"60px";
  height:"80px";
  margin: "10px"
}

@media (max-width: 860px) {
  .preview-pic {
    display: none !important;
  }
  .title{

  }
}


/* register / login / enter code page*/

.background {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #BB3D25, #E88C7A);

  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontal */
  align-items: center;  /* Vertical */
}

.head-name {
  color: white;
  font-size: 55px;
  font-weight: bold;
}

.box {
  background-color: #FFE2C5;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* container for input */
.n-container {
  background-color: #D4B89C;
  width: 280px;
  height: 45px;
  border-radius: 10px;
  border-style: none;
  margin: -15px 30px;
  margin-bottom: 0px;

  color: #603A2B;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding: 7px;
}

.font-normal {
  color: #603A2B;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  margin-left: 35px;
  margin-top: 20px;
}

.small-btn {
  border: none;
  width: 280px;
  height: 48px;
  padding: 30px auto;
  margin: 30px auto;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.white-thin-button{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin-left: 40px;
  accent-color: #BB3D25;
  cursor: pointer;
}

input::placeholder {
  color: #425E21;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
}


/* create room page */
.room-container {
  margin: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin: 0;
  height: 100vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  /* background-color: green; */
}

.right {
  margin: 0;
  height: 100vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  /* background-color: pink; */
}

.room-code {
  background-color: #603A2B;
  margin-top: 30px;
  width: 280px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.location-box {
  background-color: #FFE2C5;
  margin-top: 25px;
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 2px solid #603A2B;
  border-radius: 10px;
  color: #603A2B;
  font-size: 18px;
  font-weight: normal;

  /* padding: 10px; */
}

.room-btn {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* 
.scoll {
  height: 300px;
  width: 410px;
  overflow: auto;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
}

.member-box {
  background-color: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  transition: 0.2s;
}

.member-box:hover {
  background-color: #444;
  transform: scale(1.02);
} */