

body {
  background: #FFE2C5; /* or any color/image you want */
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*added mine*/

/* set the front of whole website */
* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

/* for most button (can fix the width and height with other class) */
.button {
    border: none;
    width: 200px;
    padding: 15px 0px;
    font-size: 24px;
    border-radius: 10px;
    color: white;
}

.shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* for colored button */

.green{
    background-color: #517824;
}
.green:hover {background-color: #3f5e1b}

.brown{
    background-color: #603A2B;
}
.brown:hover{
    background-color: #4a2b1f
}


/* header */

.header{

  background-color: #BB3D25;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;

}

.profile-s{
  background-color: white;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}

.Margin1vh{
  margin:1vh;
}

/* preference page */

.full-app{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.p-contain{
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
}

.Preferences{
  font-size: 36px;
  width: 40%;
  height: 50px;
  border-color: #603A2B;
  color: #603A2B;
  border-width: 2px;
  border-style: solid;
  padding: 10px 50px;
  text-align: center;
  border-radius: 40px;
}

.Preferences:hover{
  background-color: #603A2B;
  color: white;
}



.thin-button{
  color:#BB3D25;
  text-decoration: underline;
}

/* Add for home page */
.hero_section{
  display: flex;
  background-image: url("../../public/unfocused-restaurant-with-tables-ready.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  height: 500px;
  background-blend-mode: multiply;

  position: relative;
  isolation:isolate;
  /* flex-wrap: wrap-reverse; */
}

.hero_section::after{
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background: white;
  opacity: 0.4;
}

.white_txt{
  color: white !important;
}

.b-divider {
  width: 100%;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    #0000001a 0%,
    #00000000 40%,
    #00000000 100%
  );
  border-top: 1px solid rgba(0,0,0,.15);
  border-bottom: none;
  box-shadow: inset 0 0.5em 1.5em -0.5em #0000001a;
}